<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel = "stylesheet" href = "../../assets/css/index.css" type = "text/css">
<script type="text/javascript" src="../../assets/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
</head>
<body>
	<div id="content">
		<h1 id="home-btn">게시판 페이지</h1>
		<div id="main-page">
			<div class="srh-box">
			 	<form>
			 		<select name="key">
			 			<option value="sub" selected>제목</option>
			 			<option value="id">글쓴이</option>
			 			<option value="content">내용</option>
			 		</select>
			 		<span class="word-span">
			 			<input type="text" name="word">
			 		</span>
		 			<input class="srh-btn" type="submit" value="검색">
		 			
		 			<div class = "btn-box">
						<a class= "bbs-write-btn">글 쓰기</a>
					</div>
		 		</form>
		 		
			 </div>
			<table width="100%">
				<thead>
					<tr>
						<th width="5%">번호</th>
						<th width="40%">제목</th>
						<th width="10%">글쓴이</th>
						<th width="10%">조회수</th>
						<th width="15%">작성일</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
		
		<div id = "bbs-modal">
			<div class="frame">
				<div class="header">
					<span class="close-btn-span">Ｘ</span>
	            </div>
				<table width="100%" align="center">
					<tr>
						<td width="100">제목</td>
						<td width="500"><input type="text" class="sub" name="sub"></td>
						<td width="100">작성일</td>
						<td width="500" class="reg-date"></td>
					</tr>
					<tr>
						<td width="100">글쓴이</td>
						<td ><input type="text" class="id"></td>
						<td width="100">조회수</td>
						<td class="cnt"></td>
					</tr>
					<tr>
						<td colspan="4"><textarea rows="5" cols="50" class="content" placeholder="내용입력"></textarea></td>
					</tr>
				</table>
				<div class="btn-box">
					<a class = "bbs-btn" name="del-btn">삭제</a>
					<a class = "bbs-btn" name="can-btn">취소</a>
					<a class = "bbs-btn" name="re-btn">답글</a>
					<a class = "bbs-btn" name="mdfy-btn">수정</a>
					<a class = "bbs-btn" name="ins-btn">등록</a>
				</div>
				
			</div>
		</div>
		
		<div id="warn-popup">
	        <div class="frame">
	            <div class="content">
		            <div>
		                <label>제목과 내용을 입력해주세요.</label>
		            </div>
	            </div>
	        </div>
	    </div>
		
		<div id="info-popup">
	        <div class="frame">
	            <div class="content">
		            <div>
		                <label>등록이 완료되었습니다.</label>
		            </div>
	            </div>
	        </div>
	    </div>
	    
    	<div id = "confirm-popup">
			<div class="frame">
				<div class="header">
					<span class="close-btn-span">Ｘ</span>
	            </div>
				<div class="content">
					<div>
		                <label>정말 삭제하시겠습니까 ?</label>
		            </div>
				</div>
				<div class="btn-box">
					<a class = "bbs-btn" name="del-btn">삭제</a>
					<a class = "bbs-btn" name="can-btn">취소</a>
				</div>
			</div>
		</div>
		
	</div>

</body>
</html>